.photo-grid__title {
    font-size: 32px;
    line-height: 35px;
    font-style: normal;
    font-weight: 900;
}

@media (min-width: 768px) {
    .photo-grid__title {
        line-height: 59px;
        font-size: 54px;
    }
}
