@import url(__annotation/videos__annotation.css);
@import url(__view/videos__view.css);
@import url(__title/videos__title.css);

.videos {
    color: white;
    margin-top: 64px;
    text-align: center;
}

@media (min-width: 768px) {
    .videos {
        margin-top: 102px;
    }
}
