.videos__title {
    font-size: 32px;
    line-height: 35px;
    font-style: normal;
    font-weight: 900;
}

@media (min-width: 768px) {
    .videos__title {
        line-height: 46px;
        font-size: 42px;
    }
}

@media (min-width: 1024px) {
    .videos__title {
        line-height: 78px;
        font-size: 72px;
    }
}
