
.photo-grid__img {
    width: 100%;
    margin-bottom: 8px;
    transition: 0.2s;
}

@media (min-width: 375px) {
    .photo-grid__img {
        margin-bottom: 16px;
    }
}

@media (min-width: 768px) {
    .photo-grid__img {
        width: 50%;
        padding: 0 8px;
    }
}

@media (min-width: 1024px) {
    .photo-grid__img {
        padding: 0 7px;
        margin-bottom: 14px;
        width: 33.33%;
    }
}

@media (min-width: 1280px) {
    .photo-grid__img {
        margin-bottom: 16px;
        width: 25%;
        padding: 0 8px;
    }
}
