.place__url-box {
    display: none;
}

@media (min-width: 768px) {
    .place__url-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding-left: 28px;
    }
}

@media (min-width: 1024px) {
    .place__url-box {
        padding-left: 32px;
    }
}

@media (min-width: 1280px) {
    .place__url-box {
        padding-left: 40px;
    }
}

