.comments__title {
    font-weight: 900;
    font-size: 32px;
    font-style: normal;
    line-height: 35px;
}

@media (min-width: 768px) {
    .comments__title {
        width: 600px;
        margin: 0 auto;
        font-size: 42px;
        line-height: 46px;
    }
}

@media (min-width: 1024px) {
    .comments__title {
        line-height: 65px;
        width: 100%;
        font-size: 72px;
    }
}

@media (min-width: 1280px) {
    .comments__title {
        line-height: 108.9%;
        width: 800px;
        font-size: 72px;
    }
}
