.comments__about {
    font-size: 16px;
    line-height: 23px;
    margin-top: 16px;
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 768px) {
    .comments__about {
        line-height: 35px;
        margin-top: 24px;
        font-size: 24px;
    }
}

@media (min-width: 1024px) {
    .comments__about {
        line-height: 35px;
        width: 640px;
        font-size: 24px;
        margin: 48px auto 0;
    }
}
