.comments__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 34px;
}

/* Можно лучше: ширина и высота текстовых блоков не фиксируется без необходимости */
@media (min-width: 768px) {
    .comments__wrapper {
        margin: 66px auto 0;
        width: 382px;
    }
}


@media (min-width: 1024px) {
    .comments__wrapper {
        justify-content: space-between;
        width: 100%;
        margin-top: 72px;
    }
}

/* Можно лучше: использовать Grid-layout для реализации блока с комментариями */