.comment__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    margin-top: 23px;
    text-align: left;
}

@media (min-width: 1024px) {
    .comment_text {
        margin-top: 40px;
    }
}
