.photo-grid__body {
    margin: 32px 0;
    font-size: 16px;
    line-height: 169%;
    font-style: normal;
    font-weight: normal;
}

@media (min-width: 768px) {
    .photo-grid__body {
        font-size: 14px;
        line-height: 24px;
        margin-top: 48px;
        margin-bottom: 24px;
    }
}
