@import url(_wrapper/place__image_wrapper.css);
/* Нужно исправить: использование отрицательных margin недопустимо */
.place__image {
    display: block;
    width: calc(100% + 32px);
    margin: 0 -16px;
}

@media (min-width: 768px) {
    .place__image {
        width: 340px;
        height: 340px;
        margin: 0;
    }
}

@media (min-width: 1024px) {
    .place__image {
        width: 440px;
        height: 440px;
    }
}

@media (min-width: 1280px) {
    .place__image {
        width: 460px;
        height: 460px;
    }
}




