.places {
    margin-top: 64px;
    color: white;
}

@media (min-width: 768px) {
    .places {
        margin-top: 102px;
    }
}

@media (min-width: 1280px) {
    .places {
        margin-top: 92px;
        padding: 0 100px;
    }
}
