@import url(_paragraph/place__body_paragraph.css);

.place__body {
    margin-top: 24px;
}
/* Можно лучше: на макете расстояние между блоками отличается */
@media (min-width: 768px) {
    .place__body {
        width: 50%;
        margin-top: 0;
        padding-left: 28px;
    }
}

@media (min-width: 1024px) {
    .place__body {
        padding-left: 32px;
    }
}
/* Нужно исправить: на макете расстояние между блоками сильно отличается */
@media (min-width: 1280px) {
    .place__body {
        padding-left: 40px;
    }
}
